html{
    font-family: Roboto, sans-serif;
}

.header{
    background: #1F2937;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

h1{
    color: #F9FAF8;
    font-size: 24px;
}

a{
    color: #e5e7eb;
    font-size: 18px;
}

.linkcontainer{
    display: flex;
    gap: 17px;
}