html{
    font-family: Roboto, sans-serif;
}

.header{
    background: #1F2937;
    display: flex;
    flex-direction: column;
    padding: 0px 150px 150px;
}

.top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 1;
}

.headertext{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 450px;
}


.imagemain{
    height: 270px;
    width: 600px;
    background-color: grey;
}

.bottom{
    display: flex;
    justify-content: space-between; 
    align-items: end;
    flex-shrink: 1;

}

h2{
    color: #F9FAF8;
    font-size: 24px;
}

p,a{
    color: #e5e7eb;
    font-size: 18px;
}

.linkcontainer{
    display: flex;
    gap: 17px;
}



h1{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin-bottom: -15px;
}

button{
    width: 110px;
    height: 30px;
    border-radius: 6px;
    border-style: none;
    background-color: #3882F6;
    color: #F9FAF8;
}

.randominfo{
    display: flex;
    flex-direction: column;
}

h3{
    display: flex;
    justify-content: center;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.images{
    display: flex;
    justify-content: center;
    gap: 50px;
}

.image1{
    display: flex;
    flex-direction: column;
    flex-basis: 300px;
}

.image2{
    display: flex;
    flex-direction: column;
    flex-basis: 300px;
}

.image3{
    display: flex;
    flex-direction: column;
    flex-basis: 300px;
}
