html{
    font-family: Roboto, sans-serif;
}

.header{
    background: #1F2937;
    display: flex;
    flex-direction: column;
    padding: 0px 150px 150px;
}

.top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 1;
}

.headertext{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 450px;
}


.imagemain{
    height: 270px;
    width: 600px;
    background-color: grey;
}

.bottom{
    display: flex;
    justify-content: space-between; 
    align-items: end;
    flex-shrink: 1;

}

h2{
    color: #F9FAF8;
    font-size: 24px;
}

p,a{
    color: #e5e7eb;
    font-size: 18px;
}

.linkcontainer{
    display: flex;
    gap: 17px;
}



h1{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin-bottom: -15px;
}

button{
    width: 110px;
    height: 30px;
    border-radius: 6px;
    border-style: none;
    background-color: #3882F6;
    color: #F9FAF8;
}

.randominfo{
    display: flex;
    flex-direction: column;
}

h3{
    display: flex;
    justify-content: center;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.images{
    display: flex;
    justify-content: center;
    padding-left: 100px;
    padding-right: 100px;
    gap: 60px;
    margin-bottom: 150px;
    margin-top: 20px;
}

.image1, .image2, .image3, .image4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 200px;
}

.images img{
    border: 4px #3882F6 solid;
    border-radius: 17px
}

.caption{
    color: rgb(164, 164, 164)
}

.quote{
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 150px 0px 70px 0px;
}

.quotetext{
    font-size: 36px;
    color: #1f2937;
    font-weight: 300;
    font-style: italic;
    width: 790px;
}

h4{
    display: flex;
    width: 700px;
    justify-content: end;
    margin-top: -30px;
    font-size: 20px;
}

.signupsection{
    display: flex;
    justify-content: center;
    align-items: center;
}

.calltoaction{
    background-color: #3882F6;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1000px;
    border-radius: 10px;
    margin: 100px;
    padding: 20px
}

h5{
    font-size: 20px;
    font-weight: 500;
    color: #F9FAF8;
    margin-bottom: 1px;
}

.actiontext{
    margin-top: -2px;
    font-size: 17px;
    font-weight: 400;
}

.leftcontent{
    display: flex;
    flex-direction: column;
    margin-top: -15px;
}

.calltoaction button{
    border: 2px #F9FAF8 solid;
}

.footer{
    background-color: #1F2937;
    display: flex;
    justify-content: center;
}

/*
FIGURE OUT ISSUE WITH BORDER AROUND ENTIRE PAGE
ANY FINAL TOUCHES NEEDED (USE SAMPLE FOR REFERENCE!)
*/